<form [formGroup]="bookFormGroup" (submit)="notifyOnBookChange($event)">
  <ng-container formGroupName="author">
    <div class="mb-3">
      <label for="firstname" class="form-label"
      >Firstname: </label>
      <ba-validation-error>
        <input id="firstname" class="form-control" formControlName="firstname"
               baInputErrorClass>
      </ba-validation-error>
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Lastname: </label>
      <ba-validation-error>
        <input id="lastname" class="form-control" formControlName="lastname"
               [class.is-invalid]="bookFormGroup?.get('author.lastname')?.invalid && bookFormGroup?.get('author.lastname')?.touched">
      </ba-validation-error>
    </div>
  </ng-container>
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <ba-validation-error>
      <input id="title" class="form-control" formControlName="title"
             baInputErrorClass>
    </ba-validation-error>
  </div>
  <div class="mb-3">
    <label for="publishedYear" class="form-label">Published Year:</label>
    <ba-validation-error>
      <input id="publishedYear" class="form-control" formControlName="publishedYear"
             (keypress)="onlyNumbers($event)"
             baInputErrorClass>
    </ba-validation-error>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="bookFormGroup.invalid">Save and Close</button>
</form>
